<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mk.tmlexample" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TMLAndroid"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="TMLAndroid"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name =".InputActivity"
            android:label="Database Item"
            android:windowSoftInputMode="stateVisible|adjustResize">
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.mk.tmlexample.MainActivity" />

        </activity>
        <activity android:name=".SettingsActivity"
            android:label="Settings"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mk.tmlexample.MainActivity" />

        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
